
@mixin createGridClasses($child: false){
	$childClass: "";
	@if $child == true{
		$childClass: " .column";
	}
	@for $a from 0 through $grid-columns{
		$percentage: percentage($a/$grid-columns); $column: #{$a}#{$childClass};
		&.column-#{$column}{
			width: #{$percentage};
		}
		&.offset-#{$column}{
			margin-left: #{$percentage};
		}
		&.push-#{$column}{
			margin-right: #{$percentage};
		}
		&.pull-#{$column}{
			margin-left: -#{$percentage};
		}
	}


	$min-width: 0;
	@each $bp-name,$bp-value in $grid-breakpoints{
		$mq-only: "#{$grid-screen} and (min-width: #{$min-width}px) and (max-width: #{$bp-value}px)"; $mq: "#{$grid-screen} and (min-width: #{$min-width}px)"; $min-width: $bp-value + 1;
		@debug $min-width;
		@each $part,$percentage in $grid-parts{
			&.#{$part}#{$childClass}{
				width: percentage($percentage);
			}
		}
		@media #{$mq-only}{
			&.#{$bp-name}-only-0#{$childClass}{
				width: 0; display: none;
			}
			@each $part,$percentage in $grid-parts{
				&.#{$bp-name}-only-#{$part}#{$childClass}{
					width: percentage($percentage);
				}
			}
			@for $a from 1 through $grid-columns{
				$percentage: percentage($a/$grid-columns);
				&.#{$bp-name}-only-#{$a}#{$childClass}{
					width: $percentage;
				}
				&.offset-#{$bp-name}-only-#{$a}#{$childClass}{
					margin-left: $percentage;
				}
				&.push-#{$bp-name}-only-#{$a}#{$childClass}{
					margin-right: $percentage;
				}
				&.pull-#{$bp-name}-only-#{$a}#{$childClass}{
					margin-left: -#{$percentage};
				}
			}
		}
		@media #{$mq}{
			&.#{$bp-name}-0#{$childClass}{
				width: 0; display: none;
			}
			@each $part,$percentage in $grid-parts{
				&.#{$bp-name}-#{$part}#{$childClass}{
					width: percentage($percentage);
				}
			}
			@for $a from 1 through $grid-columns{
				$percentage: percentage($a/$grid-columns);

				&.#{$bp-name}-#{$a}#{$childClass}{
					width: $percentage;
				}
				&.offset-#{$bp-name}-#{$a}#{$childClass}{
					margin-left: $percentage;
				}
				&.push-#{$bp-name}-#{$a}#{$childClass}{
					margin-right: $percentage;
				}
				&.pull-#{$bp-name}-#{$a}#{$childClass}{
					margin-left: -#{$percentage};
				}
			}
		}
	}
}
