@import "icons/icons";
%icon{
	text-transform: none; text-indent: 0; font-weight: normal;
}
a.icon{
	@each $iconFamily-name, $iconFamily-value in $icons{
		@each $icon-name, $icon-value in $iconFamily-value{
			&.#{$icon-name}:before{
				content: "#{$icon-value}"; $family: "#{$iconFamily-name}-font-family";
				@extend "%#{$family}";
			}
			@if color($icon-name,1,$social-colors,false,true) == true{
				&.#{$icon-name}:hover:before{
					color: color($icon-name,1,$social-colors,true);
				}
			}
		}
	}
}
li.icon{
	@each $iconFamily-name, $iconFamily-value in $icons{
		@each $icon-name, $icon-value in $iconFamily-value{
			&.#{$icon-name} a:before{
				content: "#{$icon-value}"; $family: "#{$iconFamily-name}-font-family";
				@extend "%#{$family}";
			}
			@if color($icon-name,1,$social-colors,false,true) == true{
				&.#{$icon-name} a:hover:before{
					color: color($icon-name,1,$social-colors,true);
				}
			}
		}
	}
}
@each $iconFamily-name, $iconFamily-value in $icons{
	@each $icon-name, $icon-value in $iconFamily-value{
		%icon-#{$icon-name}{
			content: "#{$icon-value}"; $family: "#{$iconFamily-name}-font-family";
			@extend "%#{$family}";
		}
	}
}
